
{% extends "header.html" %}

{% block content %} 

{% load static %}
{% load crispy_forms_tags %}         

<div style="margin-top:5%;">
	<div class="container " >
		<div class="col-md-8 glass mx-auto">
			<div class="col-md-2 mx-auto">
				<img class="img-fluid mt-5" src="{% static 'img/lens2.png' %}" alt="LOGO">
			</div>
			
			<div class="container py-5">

				<h1 class="text-center">You have Been Logged Out Successfully!</h1>
                <p class="text-center mt-4">To Log back In Click On<a href="{% url 'login' %}"> Login</a></p>
				
			</div>
		</div>
	</div>
</div>



{% endblock %}