{% extends "header.html" %}

{% block content %} 

{% load static %}
{% load crispy_forms_tags %}         

<!--Register--> 

<div style="margin-top:5%;">
	<div class="container " >
		<div class="col-md-8 glass mx-auto" >
			<div class="col-md-2 mx-auto">
				<img class="img-fluid mt-5" src="{% static 'img/lens2.png' %}" alt="LOGO">
			</div>
			
			<div class="container py-5">

				<h1 class="text-center">Register</h1>
				<form method="POST">
					{% csrf_token %}
					{{ register_form|crispy }}                    
					<button class="btn btn-primary" type="submit">Register</button>
				</form>
				<p class="text-center mt-4">If you already have an account, <a href="{% url 'login' %}">Login</a> instead.</p>
			</div>
		</div>
	</div>
</div>



{% endblock %}